body {
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.container {
    background-color: #ebd8d8;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    max-width: 500px;
    border-radius: 10px;
    padding: 20px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    width: 60%;
}

form input[type="submit"] {
    background-color: #00ff88;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.9s ease;
  }
  
  form input[type="submit"]:hover {
    background-color: #1d1755;
  }
  .icon img {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .temperature {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
  }
  
  .description{
      font-size: 24px;
      margin-bottom: 20px;
  }
  
  .details{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }
  .details > div{
    padding: 20px;
    background-color: khaki;
    margin: 10px;
    flex: 1;
    border-radius: 5px;
    text-align: center;
    min-height: 45px;
}

@media (max-width: 1000px){
    form {
        flex-direction: column;
    }

    form input[type="text"]{
        width: 100%;
        margin-bottom: 10px;
    }
}